/* below is all the base element styling */

body {
  background: #fffefa;
  font-family: Helvetica;
  /*the below means apply these stylings if the screen is anything bigger than 100*/
}

a {
  text-decoration: none;
}

h2 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
}

/* below is the css for the font files */

@font-face {
  font-family: pulledFont-1;
  src: url("./fonts/QuinlliykRegular-gx3ME.ttf");
}

/* below is the class created to clear any floats used*/

.clr {
  clear: both;
}


/* This is the styling for the navigation menu */

#left-nav-menu-logo {
  margin-left: 0px;
  margin-right: 65%;
}

.navigation-menu li {
  font-size: 14px;
  font-weight: 600;
  display: inline;
  padding-right: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navigation-menu a {
  color: #000000;
  text-align: right;
  font-family: sans-serif;
  font-size: 14px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navigation-menu a:hover {
  color: #50860e;
}

/* Below is the styling for the hero image on the home page */

.hero-header-1 {
  background-image: url('./images/orangeFlowers.jpeg');
  padding-top: 0px;
  margin-left: 0px;
  min-height: 320px;
  color: rgb(231, 241, 220);
  margin-bottom: 30px;
}

.hero-header-1 h1 {
  font-family: pulledFont-1;
  font-size: 75px;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 120px;
}

/* below is all the class specific styling for any content boxes */

.store-content-box {
  display: flex;
  box-sizing: border-box;
  margin: 35px 60px;
  line-height: 1.6em;
}

.store-content-box p {
  font-size: 14px;
}

.store-content-box img {
  width: 300px;
}

/* This will be the css for the coffee compass */

#coffee-compass {
  width: 650px;

}

/* Below is the styling for the main footer and the logo images associated with it */

.main-footer {
  min-height: 70px;
  background-color: #34570a;
  padding: 30px 60px;
}

.main-footer p {
  font-family: helvetica;
  letter-spacing: 5px;
  font-size: 10px;
  color: #ffffff;
}


.sm-logo-1 img {
  height: 50px;
  padding-left: 40px;
  float: right;
}

.sm-logo-2 img {
  height: 50px;
  float: right
}

.copyright {
  margin-top: 100px;
  text-align: center
}

/* Below is the styling for the contact page */

.contact-box {
  background-color: #e2ffe0;
  border: 2px dotted #2b9152;
  border-radius: 10px;
  padding: 100px;
  margin: 10px;
  margin-bottom: 250px;
  position: relative;
}


.contact-box label {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.contact-box input {
  width: 25%;
}


#title h1 {
  text-align: center;
}